* {
  margin: 0px;
  padding: 0px;
}

html, body {
  width: 100%;
  height: 100%;
}

.body {
  background-color: #0D0D0D;
}

.h2 {
  color: #BF5B04;
}

.container00 {
  height: 100vh;
  width: 100vh;
}

.bg-video {
  position: fixed;
  left: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: 100%;
  z-index: -100;
  opacity: 0.6;
}

.header {
  margin-top: 10px;
  font-size: 20px;
  font-weight: bolder;
}
.header #navItem {
  color: #FDF8F2;
}
.header #navItem:hover {
  color: #F2A7A7;
}
.header #statusSignBtn {
  background-color: #569937;
  padding: 8px;
  border-radius: 50%;
}
.header .paragraphStatus {
  font-size: 0.7rem;
}
.header #iconHeader {
  height: 50px;
}
.header #iconLogin {
  color: #FDF8F2;
  font-size: 45px;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.6;
  z-index: -10;
}

.footer {
  background-color: #252525;
  height: 250px;
}
.footer footer {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.footer footer .social {
  text-align: center;
  padding: 20px;
  color: #FDF8F2;
  font-weight: bold;
}
.footer footer .social p {
  padding-bottom: 15px;
}
.footer footer .social img {
  height: 35px;
  border-radius: 300px;
  margin: 2px;
}
.footer .hour {
  color: white;
  display: flex;
  align-items: center;
}
.footer .footer-icon {
  color: #BF5B04;
  font-size: 100px;
}
.footer .h6 {
  color: #FDF8F2;
}
.footer p {
  color: #9e9e9e;
}
.footer .submenu, .footer .legal {
  text-align: justify;
}
.footer .submenu a, .footer .legal a {
  color: #FDF8F2;
  padding: 0.5rem 0rem;
}
.footer .submenu a:hover, .footer .legal a:hover {
  color: #F2A7A7;
  text-decoration: underline;
}

.logo {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.makeYourWish {
  display: flex;
  justify-content: center;
}

.makeYourWishBtn {
  background-color: #569937;
  color: white;
  font-size: 1.2rem;
  padding: 15px;
  border: none;
  border-radius: 50px;
}

.arrowDown {
  display: flex;
  justify-content: center;
}
.arrowDown #arrowDownBtn {
  margin-top: 100px;
  height: 5rem;
}

.container1 {
  background-color: #0D0D0D;
  height: 600px;
  color: #BF5B04;
  text-align: center;
  padding: 20px;
}
.container1 .h2 {
  font-weight: bolder;
}
.container1 .cards {
  align-items: center;
  justify-content: center;
  gap: 8rem;
}
.container1 .cards-width {
  width: 400px;
  display: flex;
  justify-content: center;
}
.container1 .card {
  background-color: transparent;
  text-align: center;
  border: none;
  align-items: center;
  justify-content: center;
  width: 20rem;
}
.container1 .imgCard {
  width: 280px;
}
.container1 .cards-title {
  font-size: 1.2rem;
  font-weight: bolder;
}
.container1 .support-text {
  color: #9e9e9e;
  line-height: 1.7em;
}

.container2 {
  background-color: #0D0D0D;
  color: #FDF8F2;
  font-size: 1.3em;
  line-height: 2em;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8rem;
}
.container2 img {
  width: 700px;
  height: 700px;
  box-shadow: 0px 0px 3px 5px rgba(0, 0, 0, 0.42);
  border-radius: 500px;
}
.container2 .witchIs {
  width: 700px;
}
.container2 .h2 {
  font-weight: bolder;
}

.container3 {
  height: 500px;
}
.container3 .bg-section {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: 100%;
  z-index: -99;
}
.container3 video {
  width: 100%;
}
.container3 .container3-content {
  text-align: center;
}
.container3 .container3-content .h6 {
  color: #9e9e9e;
  padding-top: 100px;
  font-weight: bold;
}
.container3 .container3-content .h2 {
  color: #FDF8F2;
  padding-top: 50px;
  font-weight: bold;
}
.container3 .container3-content p {
  color: #FDF8F2;
}
.container3 .container3-content .container3Btn {
  background-color: #569937;
  color: #FDF8F2;
  font-weight: bold;
  margin-right: 10px;
  padding: 15px;
  border: none;
  border-radius: 50px;
}
.container3 .container3-content a {
  color: #FDF8F2;
  text-decoration: none;
}
.container3 .container3-content a:hover {
  color: #F2A7A7;
  text-decoration: underline;
}

.container4 {
  background-color: #0D0D0D;
}
.container4 .container4-content {
  text-align: center;
}
.container4 .h6 {
  color: #9e9e9e;
  padding-top: 50px;
  font-weight: bold;
}
.container4 .h2 {
  color: #BF5B04;
  padding-top: 50px;
  font-weight: bold;
}
.container4 p {
  color: #FDF8F2;
}
.container4 .comments {
  height: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px 15px;
  grid-auto-rows: minmax(160px, 200px);
}
.container4 .comments .item {
  border: 2px solid #BF5B04;
  border-radius: 10px;
  background-color: #FDF8F2;
}
.container4 .comments .item1 {
  grid-row: 1/2;
}
.container4 .comments .item2 {
  grid-row: 1/3;
}
.container4 .comments .item5 {
  grid-column: 3/4;
  grid-row: 2/4;
}

@media (max-width: 1480px) {
  .container1 .cards-width {
    width: 300px;
  }
  .container1 .imgCard {
    width: 200px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .container1 .cards {
    gap: 1rem;
  }
  .container2 {
    font-size: 1em;
    line-height: 1.7em;
    gap: 5rem;
  }
  .container2 img {
    height: 500px;
    width: 500px;
  }
  .footer .footer-icon {
    font-size: 80px;
  }
  .footer .hour {
    width: 400px;
  }
  .footer .submenu a, .footer .legal a {
    color: #FDF8F2;
    padding: 4px 0px;
  }
}

/*# sourceMappingURL=style.css.map */
