* {
  margin: 0px;
  padding: 0px;
}

.body {
  background-color: $bg-color;
  //overflow-x: hidden;
  height: 100vh;
  width: 99.1vw;
}

.h2 {
  color: $primary-color;
}

.container00 {
  height: 100vh;
  width: 100vw;
}

.bg-video {
  position: fixed;
  left: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: 100%;
  z-index: -100;
  opacity: 0.6;
}

.header {
  margin-top: 10px;
  font-size: 20px;
  font-weight: bolder;
  #navItem {
    color: $font-color;
    &:hover {
      color: $hover-color;
    }
  }

  #statusSignBtn {
    background-color: $btn-color;
    padding: 8px;
    border-radius: 50%;
  }

  .paragraphStatus {
    font-size: 0.7rem;
  }

  #iconHeader {
    height: 50px;
  }

  #iconLogin {
    color: $font-color;
    font-size: 45px;
  }
}