.logo {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.makeYourWish {
  display: flex;
  justify-content: center;
}

.makeYourWishBtn {
  background-color: $btn-color;
  color: white;
  margin-bottom: 30px;
  font-size: 1.3rem;
  padding: 20px;
  border: none;
  border-radius: 50px;
}

.arrowDown {
  display: flex;
  justify-content: center;
  #arrowDownBtn {
    margin-top: 150px;
    height: 5rem;
  }
}
